.recipeSearch, .searchForm{
      display: inline;
      font-weight: 100;
}
.recipeAppWrap{
      background: #333;
}
.headerWrap{
      
      color: #fff;
      padding: 20px;
}
form input, .searchSubmitBtn{
      display: inline-block;
   
    border-radius: 3px;
    border: none;
    padding: 5px;
}
.searchItem{
      text-transform: capitalize;
      color:#fff;
}
.searchForm > *{
      display: block;
}
.searchForm .recipe_search{
      display: inline-block;
      margin-left:20px;
}
.searchForm h4{
      font-weight: 100;
      margin-top: 30px;
}
.searchSubmitBtn{
      margin:20px 0;
      background: darkgray;
      padding:5px 10px;
}
.min_calories, .max_calories{
      margin:20px 0;
}
.recipeListContainer {
      display: flex;
      flex-wrap: wrap;
  }
  .recipe {
      width: 29%;
      background: #fff;
      margin: 14px;
      color: #333;
  }
.recipeItem img{
      width:100%;
}
.recipeDetails{
      background: rgb(24,40,55);
      color: #fff;
      padding: 30px;
}
.nutrientInfoWrap {
      padding: 12px;
  }
  .info-wrap{
        padding: 8px;
  }
  .nutritionFacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background: #fff;
  }
  .nutritionFacts h3{
        color:black;
  }
  .nutrients {
      color: #333;
      padding: 14px;
      
  }