body{
      background: rgb(201, 199, 199);
}
#root{
      width: 70%;
      margin:40px auto;
}
.titlesWrap{
     
}
.titlesWrap h1, h3{
      color:#fff;
      font-weight: 100;
}
form input, .submitBtn{
      display: inline-block;
    margin: 20px 15px;
    border-radius: 3px;
    border: none;
    padding: 5px;
}
form input:first-child{
      margin-left:0;
}
.submitBtn{
      padding: 5px 10px;
      background-color: darkgray;
}
.container{
      background: rgb(24,40,55);
      padding:60px;
      border-radius: 5px;
}
.weather, .forecast{
      color:#fff;
}
.weather label, .weather span, .forecast label{
      
      font-size: 24px;
}
.weather label, .forecast label{
      display: block;
      font-weight: 100;
}
.weather span, .forecast span, .weatherCard span{
      font-weight: 400;
      display: inline;
}
.forecast {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .hourlyWeatherCard{
      margin:30px;
      padding: 12px;
      background:rebeccapurple;
  }
  .forecast label{
        display: inline-block;
  }
  .forecasth3{
        margin:30px 0;
  }
  .forecast .fieldGroup{
      padding: 10px;
      border: 1px solid #fff;
      width: 155px;
      padding-top: 80px;
      text-transform: capitalize;
  }
  

